<div id="wrapper">  
		<!-- this is a directive -->  
        <header></header>
        <div id="page-wrapper" style="min-height: 561px;">

<div class ="row" style="background-color: #83CF1C; margin-bottom: 30px;">
  <div class="row stats_overview">
<div class="col-md-4"></div>
<div id="user-widget" class="list-group col-md-2">
            <div class="list-group-item heading">
               <img class="media-object img-circle" src="{{userData.photo}}">
               <div class="text-wrap">
                  <h4 class="list-group-item-heading">{{userData.name}}</h4>
                  <p class="list-group-item-text">@{{userData.screen_name}}</p>
               </div>
               <div class="clearfix"></div>
            </div>
</div>
         <div id="line-chart-widget" class="panel overview_panel col-md-3">
            <div class="panel-body">
                <div class="media col-md-12">
                    <div class="list-block">
                      <ul class="text-center legend">
                         <li>
                            <!-- <h3>{{ networth | number:2 }}</h3> -->
                            <h3> 76476 </h3>
                            NET WORTH
                         </li>
                          
                          <li>
                            <!-- <h3>{{ networth | number:2 }}</h3> -->
                            <h3> 76476 </h3>
                            NET WORTH
                          </li>

                         <li>
                            <h3>{{portfolio.cash_balance | number:2}}</h3>
                            CASH BALANCE
                         </li>
                      </ul>
                   </div>
               </div>
            </div>
            <br/>
         </div>
  </div>
</div>


		<div ui-view></div>




		 </div>
         <!-- /#page-wrapper -->
</div>
